@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

footer{
	margin-top: 1em;
	text-align: right;
}

table{
	border-collapse: collapse;
	font-variant-numeric: tabular-nums;
	margin: 1em auto;
}

[epub|type~="z3998:signature"],
caption{
	font-variant: small-caps;
}

th,
td{
	padding: 0 .5em;
}

thead > tr:first-child > th:first-child,
td:first-child{
	padding-left: 0;
}

th{
	border-bottom: 1px solid;
	text-align: center;
}

td + td{
	text-align: right;
}

td:last-child{
	padding-right: 0;
}

tr.total > td{
	padding-bottom: .5em;
	padding-top: .5em;
}

tfoot td,
tr.total > td:last-of-type{
	border-top: 1px solid;
}

tr.total > td:first-of-type{
	text-align: center;
}

#note-2 > table{
	border-style: solid;
	border-width: 2px 0;
}

#note-2 th,
#note-2 td + td{
	border: 1px solid;
}

#note-2 thead > tr:first-child > th:first-child,
#note-2 td:first-child{
	border-left: 0;
	padding-left: 0;
}

#note-2 th:last-child{
	border-right: 0;
}

#note-2 td:last-child,
#note-2 td:empty{
	border: 0;
}
